<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- إعدادات افتراضية لجهاز البصمة -->
        <add key="DefaultDeviceIP" value="192.168.1.100" />
        <add key="DefaultDevicePort" value="4370" />
        <add key="ConnectionTimeout" value="30" />
        
        <!-- إعدادات أوقات الفترات -->
        <add key="MorningInStart" value="06:00" />
        <add key="MorningInEnd" value="10:59" />
        <add key="MorningOutStart" value="11:00" />
        <add key="MorningOutEnd" value="13:00" />
        
        <add key="EveningInStart" value="14:00" />
        <add key="EveningInEnd" value="18:59" />
        <add key="EveningOutStart" value="19:00" />
        <add key="EveningOutEnd" value="21:00" />
        
        <add key="NightInStart" value="22:00" />
        <add key="NightInEnd" value="02:59" />
        <add key="NightOutStart" value="03:00" />
        <add key="NightOutEnd" value="05:00" />
    </appSettings>
</configuration>