<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Charts.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.CodeParser.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.CodeParser.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess.UI" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess.UI.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataAccess.UI.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Diagram.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Diagram.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Diagram.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Images" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Images.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Images.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils.UI" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils.UI.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils.UI.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Charts" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Charts.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Charts.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.CodeAnalysis" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Diagram" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Diagram.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Diagram.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Grid" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Grid.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Grid.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation.ja" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Printing" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Printing.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Printing.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.RichEdit" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.RichEdit.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.RichEdit.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid.es" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo.de" version="22.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo.es" version="22.2.3" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1586.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
</packages>